<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/GuardiandelFaro.svg">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <meta id="direccion" direccion="{{direcciones}}">
    <meta id="puerto" puerto="{{puerto}}">
    <title>BJJtube</title>
</head>

<body>
    {{>mensaje}}
    {{{body}}}
    <script src="/jquery/jquery.min.js" crossorigin="anonymous"></script>

    <script src="/bootstrap/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>