<!DOCTYPE html>
<html lang="en">

<head>
    {{>styles}}
    <title>BJJtube</title>
</head>

<body>
    {{>mensaje}}
    {{{body}}}
    <script src="/jquery/jquery.min.js" crossorigin="anonymous"></script>

    {{>jQueryBootstrap}}
</body>

</html>